
#wrapper-comments {
	position: relative;
	margin: 0 auto;
	margin-bottom: 10px;
	width: 80%;
	min-height: 400px;
	height: auto;
	background-color: ghostwhite;
	-moz-border-bottom-right-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.title-comments {
	position: relative;
	width: 100%;
	height: 50px;
	background-color: black;
	display: table;
	text-align: center;


}
.title-comments span {
	padding: 5px;
	display: table-cell;
	vertical-align: middle;
	font-size: 175%;
	color: white;
	font-weight: bold;
	font-family: 'Open Sans', Arial, sans-serif;
}

#wrapper-options {
	position: relative;
	margin: 0 auto;
	width: 45%;
	min-height: 250px;
	height: auto;
	margin-top: 20px;
	background-color: white;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	overflow: hidden;
}

.menu-option {
	position: relative;
	float: left;
	margin-right: 20px;
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 10px;
	width: 300px;
	height: 100px;
	background-color: black;
	display: table;
	text-align: center;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.menu-option span {
	padding: 5px;
	display: table-cell;
	vertical-align: middle;
	font-size: 175%;
	color: white;
	font-weight: bold;
	font-family: 'Open Sans', Arial, sans-serif;
}
.menu-option span a {
	text-decoration: none;
	color: white;
}

.menu-option span a:hover {
	font-size: 200%;
}

#wrapper-form {
	position: relative;
	margin: 0 auto;
	width: 80%;
	min-height: 500px;
	height: auto;
}
input[type="text"] {
	width: 100%;
	height: 30px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
input[type="email"] {
	width: 100%;
	height: 30px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}